---

import './Header.css';

---

<div class="header">
    <nav>
        <div class="header-content">
            <div class="branding">
                <img src="/BrandingHeader.png" />
            </div>
            <div class="links">
                <a href="https://kuwagotheowl.carrd.co/">
                    <div class="link-text">Home</div>
                </a>
                <a href="https://kuwagotheowl.carrd.co/">
                    <div class="link-text">Home</div>
                </a> 
            </div>
        </div>
    </nav>
</div>