---

import './Header.css';

---

<div class="header">
    <nav>
        <div class="header-content">
            <div class="branding">
                <img src="/BrandingHeader.png" />
            </div>
            <button aria-expanded="false" aria-controls="main-menu" class="menu">
            Menu
            </button>
            <div class="links">
                <a href="https://kuwagotheowl.carrd.co/">
                    <div class="link-text">home</div>
                </a>
                <a href="https://kuwagotheowl.carrd.co/">
                    <div class="link-text">about</div>
                </a>
                <a href="https://kuwagotheowl.carrd.co/">
                    <div class="link-text">livestream</div>
                </a>
                <a href="https://kuwagotheowl.carrd.co/">
                    <div class="link-text">art commissions</div>
                </a>
                <a href="https://kuwagotheowl.carrd.co/">
                    <div class="link-text">contact</div>
                </a>
            </div>
        </div>
    </nav>
</div>