---

import './Header.css';

---

<div class="header">
    <nav>
        <div class="content">
            <div class="branding">
                <img src="/BrandingHeader.png" />
            </div>
            <div class="links">
                <a href="https://kuwagotheowl.carrd.co/">Home</a>
            </div>
        </div>
    </nav>
</div>