.header
{
    position: sticky;
    top: 0;
    grid-area: header;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.header-content
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.branding img
{
    max-width: 360px;
}

.toggle
{
  display: none;
}

.links
{
    position: static;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 1/3;
}

.links a
{
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    background-color: #AC3A5D;
    text-decoration: none;
    width: 90vw;
    padding: 5px;
}

.links a:hover
{
    background-color: #6F2F5E;    
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.link-text
{
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    color: white;
}

:has(.menu[aria-expanded="true"]) .toggle {
  display: unset;
}

@media screen and (min-width: 636px) 
{
  .links
  {
    position: static;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 1em;
    grid-column: none;
  }

  .links a
  {
    padding: 0px 20px;
    border-radius: 3em;
    line-height: 2rem;
    width: 7.125rem;
    font-size: 0.625em;
  }

  .menu
  {
    display: none;
  }

  :has(.menu[aria-expanded="true"]) .toggle 
  {
    display: flex;
  }
  
}