.header
{
    
    position: sticky;
    top: 0;
    grid-area: header;
}

.header-content
{
    background-color: yellowgreen;
    display: grid;
    grid-template-columns: auto 1fr;
}

.branding
{
    
}

.branding img
{
    max-width: 480px;
}

.links
{
    background-color: aqua;
    position: static;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.links a {
    background-color: white;
    padding: 15px 20px;
  }