---
import './Footer.css';
---

<div class="footer">
    <div class="footer-content">
        <div class="trademark">
            <a href="#" class="branding-link">
                <img src="/BrandingTransparent.png"/>
            </a>
            <p class="copyright">Copyright © 2026 Kuwa Go Arts. All rights reserved.</p>
        </div>
    </div>
</div>