.footer
{
    background-color: #6F2F5E;
    grid-area: footer;
}

.footer-content
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.trademark
{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.branding-link
{
    width: 10.25rem;
}

.copyright
{
    margin: 0;
    color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 0.625em;
    font-weight: 300;
    height: fit-content;
}

.footer-branding
{
    max-width: 100%;
}

.social-media
{
    display: flex;
    width: auto;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-right: 1.75rem;
}
.social-media-logo
{
    width: 1.25rem;
    height: 1.25rem;;
}

@media screen and (min-width: 636px) 
{
    .footer-content
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .trademark
    {
        justify-content: left;
    }

    .social-media
    {
        justify-content: right;
    }
}