---
import './Background.css'
---

<body style="background-image: url(./../public/bg.jpg); background-repeat: no-repeat;background-size: cover; background-position: center; background-attachment: fixed;">
    <div>
        <slot />
    </div>
</body>